<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="educationbg"><br>

  <div class="card border-dark" style="border-width: thin;">

    <div class="card-group">

      <div class="card border-0" style="height: 530px; margin-top: 0.3rem; margin-left: 0.3rem; margin-bottom: 0.3;">
        <div class="card-body">
<pre>
<b><u>Note</u><sup style="color: red;">*</sup>:</b><i> For getting more information about <b>e-learning</b> please click on the  
       below image.</i>
</pre>
           
                 
          <a href="https://en.wikipedia.org/wiki/Educational_technology" target="_blank"><img src="assets\educationimg.jpg" alt="affs" class="educationimg"></a>
          
          <div class="data" style="margin-top: 3rem;">

            <img src="assets\skills_qoutes1.jpg" alt="affs" style="width: 40px; height: 40px; margin-right: 34rem;"class="edqoutes1">
<h5>            
<pre>    
           <b style="color:black">Education is not Preparation For Life, 
                Education is Life Itself.</b>
</pre>
</h5>
<img src="assets\skills_qoutes2.jpg" alt="affs" style="width: 40px; height: 40px; margin-left: 34rem;"class="edqoutes2">

          </div>



        </div>
      </div>

      <div class="card border-0" style="margin-right: 0.3rem; height: 530px; margin-top: 0.3rem; margin-bottom: 0.3;">
        <div class="card-body">

          <div class="education" style="background-color: chocolate; width:590px; height: 190px;">
<i><h4>
<pre style="line-height: 1.2cm; color: wheat;">
    <b>"</b>Education is the not the learning of facts, 
       but the training of the mind to think.
     Education is a gift that none can take away.
            I am still learning every day.<b>"</b>
</pre>
</h4>
</i>
          </div>
<hr style="background-color: lightsteelblue;">
<pre style="margin-left: 3.5rem;">
<u><h5><li style="list-style-type: square;">Qualifiaction</li></h5></u>
<h6 style="color: black ">  >> <b>MCA</b>
  
  - Yashwantrao Chavan Maharashtra Open University<b>(YCMOU)</b>
  - VPM's B.N. Bandodkar College of Science
  - 2019-2020

  >> <b>BScIT</b>
  
  - Mumbai University
  - Sheth N.K.T.T. Junior College
  - 2016-2017
</h6>
</pre>

        </div>
      </div>

    </div>
  </div>
</div>