<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="educationbg" style="padding-bottom: 6.5rem; padding-top: 6.5rem;"><br>
  <div class="container w-75">
    <div class="row no-gutters">
      <div class="col-sm-7">
        <div class="card border-0" style="background: transparent; padding: 1rem;">
          <!-- <p style=" line-height: 0.8cm; margin-top: 1rem; color:whitesmoke;"> -->
            <u style="color: whitesmoke;">
              <h4>
                <li style="list-style-type: square; margin-right: 2rem; color: whitesmoke;">Qualification</li>
              </h4>
            </u><br>
          <h6 style="font-size: 17px; line-height: 0.6cm; color:whitesmoke;"> >> <b>MCA</b>
            <p style=" line-height: 0.8cm; margin-top: 1rem; color:whitesmoke;">
            - Yashwantrao Chavan Maharashtra Open University <b>(YCMOU)</b><br>
            - VPM's B.N. Bandodkar College of Science <br>
            - 2019-2020 <br><br>

            >> <b>BScIT</b><br><br>

            - Mumbai University <br>
            - Sheth N.K.T.T. Junior College <br>
            - 2016-2017 <br>
          
          </p>
        </h6>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card border-0" style="background: transparent;">
          <img src="assets/qualify.jpeg" alt="logo" class="qualify mx-auto" style="height: 10rem; width: 15rem;">
        </div>
      </div>
    </div>
  </div>
</div>