

    <div class="fixed-bottom">
        <nav class="navbar" style="background-color:#B0E0E6	;">
          <a href="https://www.google.com/" target="_blank"><img src="assets\foootergoogle.png" alt="Google" class="Facebook" title="Google" style="margin-right: 5px;"></a>
          <a href="https://www.facebook.com/" target="_blank"><img src="assets\footerfacebook.png" alt="Facebook" class="Facebook" title="Facebook" style="margin-right: 5px;"></a>
          <a href="https://www.instagram.com/?hl=en" target="_blank"><img src="assets\footerinstagram.png" alt="google" class="Instagram" title="Instagram" style="margin-right: 5px;"></a>
          <a href="https://in.linkedin.com/" target="_blank"><img src="assets\footerlinkdin.jpg" alt="linked.in" class="LinkedIn" title="LinkedIn" style="margin-right: 5px;"></a>
          <a href="https://twitter.com/login" target="_blank"><img src="assets\footertwitter.png" alt="twitter"  class="Twitter" title="Twitter" style="margin-right: 5px;"></a>
          <a href="https://www.youtube.com/" target="_blank"><img src="assets\footeryoutube.png" alt="youtube"  class="Youtube"title="Youtube" style="margin-right: 5px;"></a>
          




          </nav>
    </div>