

    <div class="fixed-bottom">
        <nav class="navbar" style="background-color:  #7B68EE or #1E90FF ; height: 35px;">
          
          <a href="https://www.facebook.com/" target="_blank"><img src="assets\facebookcontact.png" alt="Facebook" class="Facebook" title="Facebook" style="margin-right: 5px;"></a>
          <a href="https://www.instagram.com/?hl=en" target="_blank"><img src="assets\footerinstagram.png" alt="google" class="Instagram" title="Instagram" style="margin-right: 5px;"></a>
          <a href="https://in.linkedin.com/" target="_blank"><img src="assets\footerlinkdin.jpg" alt="linked.in" class="LinkedIn" title="LinkedIn" style="margin-right: 5px;"></a>
          <a href="https://twitter.com/login" target="_blank"><img src="assets\twittercontact.png" alt="twitter"  class="Twitter" title="Twitter" style="margin-right: 5px;"></a>
          
          </nav>
    </div>