
*img{
    height: 20px;
    width: 20px;
}

*nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.Facebook:hover
{
transform: scale(1.1);
opacity: 1.0;
}
.facebook{
    opacity: 0.8;
}
.Instagram:hover
{
transform: scale(1.1);
opacity: 1.0;
}
.Instagram{
    opacity: 0.8;
}
.LinkedIn:hover
{
transform: scale(1.1);
opacity: 1.0;
}
.LinkedIn{
    opacity: 0.8;
}
.Twitter:hover
{
transform: scale(1.1);
opacity: 1.0;
}
.Twitter{
    opacity: 0.8;
}

