<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="contactbg"><br>

  <div class="container">

    <div class="row d-flex" style="padding-bottom: 40px;">
      <div class="col-sm-6">
        <div class="container">
          <div class="row" style="margin-top: 30px;">

            <div class="col">
              <div class="card border-0" style=" margin-top: 1rem; background: transparent;">
                <a href="https://www.facebook.com/" target="_blank"><img src="assets\facebookcontact.png"
                    title="Facebook" class="card-img img-fluid" alt="1"></a>
              </div>
            </div>

            <div class="col">
              <div class="card border-0" style="margin-top: 1rem; background: transparent;">
                <a href="https://www.instagram.com/?hl=en" target="_blank"><img src="assets\footerinstagram.png"
                    title="Instagram" class="card-img img-fluid" alt="2"></a>
              </div>
            </div>

            <div class="col">
              <div class="card border-0" style="margin-top: 1rem; background: transparent;">
                <a href="https://in.linkedin.com/" target="_blank"><img src="assets\footerlinkdin.jpg" title="Linkedin"
                    class="card-img img-fluid" alt="3"></a>
              </div>
            </div>

            <div class="col">
              <div class="card border-0" style="margin-top: 1rem; background: transparent;">
                <a href="https://twitter.com/login" target="_blank"><img src="assets\twittercontact.png" title="Twitter"
                    class="card-img img-fluid" alt="4"></a>
              </div>
            </div>
          </div>
        </div><br><br>

        <h4 style="margin-left: 3rem; color:whitesmoke;" >Feel free to keep in touch!</h4>
        <div style="line-height: 0.2rem; margin-left: 3rem; margin-top: 3rem;">
          <h4 style=" color:whitesmoke;"><i class="fa fa-phone " style="color:whitesmoke; " title="Contact"></i> : +91
            7738199752</h4><br>
          <h4 style="color:whitesmoke;"><i class="fa fa-envelope" style="color:whitesmoke; margin-right: 0.3rem;"
              title="email Id"></i>: ajitp9815@gmail.com</h4><br>
          <h4 style="color:whitesmoke;"><i class="fa fa-map-marker" style="color:whitesmoke; margin-left: 0.4rem;"
              title="Location"></i> : Mumbai | Thane</h4>
        </div>

      </div>
      <div class="col-sm-6">
        <div class="card border-light" style="box-shadow: 0 4px 8px 0 	steelblue, 0 6px 20px 0 whitesmoke; margin-top: 60px;">
          <div class="card-body">

            <div class="form border-dark" style="border: solid 2x whitesmoke;" >
              <marquee direction="left">
<p><b style="color:whitesmoke;">Note :</b> <i style="color:whitesmoke;"><b style="color: red;"> *</b> mark fields are mandatory.</i></p>
</marquee>
              <form (ngSubmit)="conform.form.valid && contactform()" #conform="ngForm">
                <div class="form-group">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"
                          style="color:#696969;"></i></span>
                    </div>
                    <input placeholder="Username" class="form-control" [(ngModel)]="contact.fname" name="fname" required
                      #fname="ngModel" style="background-color:whitesmoke;"><b><sup
                        style="color: red; margin-left: 0.3rem; ">*</sup></b>
                  </div>
                  <div class="alert alert-danger" role="alert" [hidden]="fname.valid || fname.pristine">
                    Username Is Required!!!
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"><i class="fa fa-phone"
                          style="color:#696969"></i></span>
                    </div>
                    <input placeholder="Contact number" type="number" class="form-control"
                      [(ngModel)]="contact.contactno" name="contactno" required #massage="ngModel"
                      style="background-color:whitesmoke	;"><b style="margin-left: 0.6rem;"></b>
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope"
                          style="color:#696969;"></i></span>
                    </div>
                    <input placeholder="name@example.com" class="form-control" [(ngModel)]="contact.emailid"
                      name="emailid" required #emailid="ngModel" style="background-color: whitesmoke	;"><b><sup
                        style="color: red; margin-left: 0.3rem;">*</sup></b>
                  </div>
                  <div class="alert alert-danger" role="alert" [hidden]="emailid.valid || emailid.pristine">
                    Email Is Required!!!
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"><i class="fa fa-comments"
                          style="color:#696969"></i></span>
                    </div>
                    <textarea placeholder="Your Message . . ." class="form-control" rows="3"
                      [(ngModel)]="contact.massage" name="massage" required #massage="ngModel"
                      style="background-color:whitesmoke;"></textarea><b style="margin-left: 0.6rem;"></b>
                  </div>
                </div>

                <button type="submit" class="btn  btn-outline-light" title="Submit" role="button">Submit <i
                    class="fa fa-paper-plane" aria-hidden="true" style="margin-left: 0.5rem;"></i></button>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>