<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="viewskillsbg " style="background-color:	#87CEEB;"><br>

<pre style="margin-top: 4rem; margin-left: 17rem;">
<h1><b>"</b><u>Good Design Keeps The User Happy</u> :)<b>"</b></h1>
</pre>
    <div class="card border-dark">
        
        <div class="card-group" style="margin-top: 3rem;">


            <div class="card border-light" style=" height: 220px; margin-top: 0.3rem; margin-left: 12rem; margin-bottom: 0.3;  border-width: medium;">
                <div class="card-header border-dark" style="height: 50px; text-align: center; background-color: #D3D3D3; border-width: medium;">
                    
                    <h4 style="line-height: 0.5cm;">Thinking</h4>
                </div>
                <div class="card-body text-center" style="margin-top: 1rem; line-height: 0.8cm;">
                    Provide creative ideas and constructive feedback to others.

                </div>
            </div>

            <div class="card border-light" style="height: 220px; margin-top: 0.3rem; margin-bottom: 0.3;  border-width: medium;">
                <div class="card-header border-dark" style="height: 50px; background-color: #D3D3D3;  border-width: medium;">
                    <h4 style="line-height: 0.5cm; text-align: center;">Design</h4>

                </div>



                <div class="card-body text-center" style="margin-top: 1rem;line-height: 0.8cm;">
                    Designed icons and visual design concepts.

                </div>
            </div>

            <div class="card border-light" style="height: 220px; margin-top: 0.3rem; margin-bottom: 0.3; margin-right:12rem; text-align: center; border-width: medium;">
                <div class="card-header border-dark" style="height: 50px; background-color: #D3D3D3;  border-width: medium;">
                    <h4 style="line-height: 0.5cm; text-align: center;">Code</h4>

                </div>

                <div class="card-body" style="line-height: 0.8cm; margin-top: 0.1rem;">
                    I have the coding knowledge of HTML5, Scss, Javascript to build the front-end and little bit
                    knowledge about back-end servers

                </div>
            </div>


        </div>

<hr style="background-color:lightsteelblue;">

        <div class="techskills" style="background-color: grey; width: 1305px; height: 450px;margin-left: 0.3rem;margin-top: 3rem;">

            <ul style="list-style-type:square;"><u style="color: white;">
                <h3 style="margin-left: 2rem; margin-top: 1rem; color: white;"><li>Technical Skills :</li></h3>
            </u></ul>

            <div class="container">
                <div class="row row-cols-4 row-cols-3" style="display: flex; padding-left: 8rem;margin-bottom: 10rem;">
                    
                    <div class="html" style="margin-right:10rem ;">
                        <div class="card border-light" style="width: 350px; height: 120px; color: white;" title="HTML">
                            <div class="card-header border-light " style="height: 40px;text-align: center;">
                                <h4 style="line-height: 0.2cm;">HTML</h4>
                                <div class="card-body bg-transparent border-secondary">
                                    <div class="progress" style="height:25px; margin-top: 1rem;">
                                        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 40%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                            <h5 style="line-height:4mm;">40%</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="css">
                        <div class="card border-light" style="width: 350px; height: 120px;" title="CSS">
                            <div class="card-header border-light " style="height: 40px;text-align: center; color: white;">
                                <h4 style="line-height: 0.2cm;">CSS</h4>
                                <div class="card-body bg-transparent border-secondary">
                                    <div class="progress" style="height: 25px; margin-top: 1rem;">
                                        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                            <h5 style="line-height:4mm;">50%</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="javascript" style="margin-right:10rem ;">
                        <div class="card border-light" style="width: 350px; height: 120px;" title="Javascript">
                            <div class="card-header  border-light" style="height: 40px; text-align: center; color: white;">
                                <h4 style="line-height: 0.2cm;">Javascript</h4>
                                <div class="card-body bg-transparent border-secondary">
                                    <div class="progress" style="height: 25px; margin-top: 1rem;">
                                        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 35%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                            <h5 style="line-height:4mm;">35%</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="angular">
                        <div class="card border-light" style="width: 350px; height: 120px;" title="Angular">
                            <div class="card-header  border-light" style="height: 40px; text-align: center; color: white;">
                                <h4 style="line-height: 0.2cm;">Angular</h4>
                                <div class="card-body bg-transparent border-secondary">
                                    <div class="progress" style="height: 25px; margin-top: 1rem;">
                                        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 40%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                            <h5 style="line-height:4mm;">40%</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


            
                </div>
            </div>





        </div>

        
        <div class="btton" style=" height: 250px; width: 400px; margin-left:58rem;margin-bottom: 3rem;">
            <div class="card-group">

                <div class="card1 " style="height: 80px; width: 190px;">
                    <div class="card-body text-center">

                            <button type="submit" class="btn" title="Back"  role="button"  
                            routerLink="/skills" routerLinkActive="active" style="margin-left: 6.5rem; color:indigo;">Back <i class="fa fa-arrow-left" aria-hidden="true"></i></button>


                    </div>
                </div>
                <div class="card2" style="height: 80px; width: 190px;">
                    <div class="card-body text-center">

                        <button style="height:40px;"><a href="/viewskills" class="o-scroll-up" title="Back to top">
                            <span class="o-scroll-up-text hidden-sm-down" > Back To Up</span>
                            <span class="o-scroll-up-icon" aria-hidden="true"> <i class="fa fa-arrow-circle-up fa-lg" aria-hidden="true" style="margin-left: 0.2rem;"></i></span>
                          </a></button>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>