.viewskillsbg
{
    height: 1120px;
    margin-bottom: 1rem;
}
.card
{
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    height: 900px;
    width: 1320px;
    border-width: thin 2px;
    border-bottom: thin 2px;
    background: transparent;
}
.btn:hover
{
transform: scale(1.1);
}
.html:hover
{
transform: scale(1.1);
}
.css:hover
{
transform: scale(1.1);
}
.javascript:hover
{
transform: scale(1.1);
}
.angular:hover
{
transform: scale(1.1);
}
.o-scroll-up
{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    color:green;
}
.o-scroll-up:hover
{
    transform: scale(1.1);
}

