<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="aboutbg"><br>

  <div class="card border-dark">

    <div class="card-group">


      <div class="card border-green" style="height: 530px; margin-top: 0.3rem; margin-left: 0.3rem; margin-bottom: 0.3; border-width: thick;">
        <div class="card-body">
<h1 style="margin-top: 5rem;margin-left: 1.5rem;">
<pre>
<b><i>Hello!</i></b>
<b><i>My Name is</i></b>
<b><i>Ajit Prajapati</i></b>
</pre>
</h1>
        

          <h6 style="font-family: 'Courier New', Courier, monospace; margin-left: 4rem; margin-top: 1rem; line-height: 0.8cm;">
<pre style="margin-top: 2rem;">
<b>"</b> I design thoughtful digital 
website. In web development, I   
can provide high quality.<b>"</b>
<hr style="background-color: limegreen;margin-top: 3rem;">
</pre>
        </h6>

          <button type="submit" class="btn btn-outline-success" role="button" routerLink="/viewresume"
            routerLinkActive="active" title="View Profile" style="margin-left: 27rem;">View Resume
            <i class="fa fa-file" aria-hidden="true" style="margin-left: 0.3rem;"></i></button>


        </div>
      </div>

      <div class="card border-0" style="margin-right: 0.3rem; height: 530px; margin-top: 0.3rem; margin-bottom: 0.3;">
        <div class="card-body text-center">

          <img src="\assets\home.jpeg" alt="affs" class="homeimg" title="Profile">


        </div>
      </div>

    </div>
  </div>
</div>