<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="aboutbg">


  <div class="container" style="padding-top: 4rem; padding-bottom: 6.6rem;">
    <div class="row">
      <div class="col-sm-6" id="newcol">

        <div class="card border-0" style="background: transparent; margin-top: 4rem;">
          <h1 style="margin-top: 2rem; color: whitesmoke; float: left;">
            <i>Hello</i> <br>
            <i>My name is</i> <br>
            <i>Ajit Prajapati</i>
          </h1>

          <h6 style="font-family: verdana; line-height: 0.8cm;">
      <p class="about2" style="font-family: verdana; color: whitesmoke; padding-top: 30px;">
      <b>"</b> I design thoughtful digital <br>
         website. In web development, I <br>  
         can provide high quality.<b>"</b>
        </p><br>
        <hr style="background-color: lightgrey;">
            
          </h6>

          <div class="button " style="margin-bottom: 40px; padding-right: 20px;">
            <button type="submit" class="btn btn-outline-light" role="button" routerLink="/viewresume"
                routerLinkActive="active" title="View Profile" style="float: right;"> Profile
                <i class="fa fa-file" aria-hidden="true" style="margin-left: 0.3rem;"></i></button>
          </div>
        </div>

      </div>

      <div class="col-sm-6">
        <div class="card border-0" style=" background: transparent; margin-top: 2rem; background: transparent; padding-right: 40px;">
          <img src="assets\home.png" alt="affs" class="rounded-circle border-light" title="Profile" style=" box-shadow:0 4px 18px 0 	steelblue, 0 12px 20px 0 whitesmoke; ">
      </div>
      </div>
    </div>
  </div>
</div>