.aboutbg
{
    width: 100%;
    height: auto;
    background-color:#696969;
}
.rounded-circle:hover
{
    opacity: 1.5;
}
.rounded-circle
{
    opacity: 0.8;
    width: 440px; 
    height: 360px;
    margin-top: 3rem;
    margin-left: 4rem;
}

@media(min-width:320px) and (max-width: 359px){
    *h1{
        font-size: 17px;
    }
    *h6{
        font-size: 15px;
    }
    .button{
        size: 20px;
    }
    .rounded-circle{
        height: 10rem;
        width: 12rem;
            }
}

@media(min-width:360px) and (max-width:400px){
    *h1{
        font-size: 18px;
    }
    *h6{
        font-size: 15px;
    }
    .button{
        size: 20px;
    }
    .rounded-circle{
    height: 10rem;
    width: 13rem;
    margin-bottom: 4rem;
        }
    #newcol{
        padding-left: 4rem;
    }
}

@media(min-width:401px) and (max-width:600px){
    *h1{
        font-size: 20px;
    }
    *h6{
        font-size: 16px;
    }
    .button{
        size: 20px;
    }
    .rounded-circle{
    height: 13rem;
    width: 16rem;
        }
    #newcol{
        padding-left: 4rem;
    }
}

@media(min-width:601px) and (max-width:800px){
    *h1{
        font-size: 25px;
    }
    *h6{
        font-size: 17px;
    }
    .button{
        size: 20px;
    }
    .rounded-circle{
    height: 14rem;
    width: 17rem;
        }
    #newcol{
        padding-left: 4rem;
    }
}

@media(min-width:801px) and (max-width:1050px){
    
    .rounded-circle{
    height: 18rem;
    width: 22rem;
        }
    #newcol{
        padding-left: 4rem;
    }
}