<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="skillsbg"><br>

  <div class="card" style="border-width: medium;" >

    <div class="card-group">

      <div class="card border-0" style="height: 530px; margin-top: 0.3rem; margin-left: 0.3rem; margin-bottom: 0.3;">
        <div class="card-body">
          

          <img src="assets\skills_qoutes1.jpg" alt="affs" style="width: 40px; height: 40px; margin-right: 34rem;" class="qoutes1">

<h5>
<pre style="color: green;line-height: 0.8cm;"><i>                 
     "A skill is the ability to perform an action with 
          determined results often within a given
             amount of time, energy, or both."</i>                
</pre>
</h5>
          <img src="assets\skills_qoutes2.jpg" alt="affs" style="width: 40px; height: 40px; margin-left: 34rem;" class="qoutes2">

<hr style="background-color:lightseagreen;">

<pre style="margin-top: 2rem;">
<h5><u>Key Skills :</u></h5>
       <b>>></b>   Ability to grasp the new skills quickly
       <b>>></b>   Hard working
       <b>>></b>   Time management
       <b>>></b>   Patience

</pre>
             <button type="submit" class="btn  btn-outline-danger" role="button"  routerLink="/viewskills" routerLinkActive="active" title="views kills">View Skills
            <i class="fa fa-arrow-right" aria-hidden="true" style="margin-left: 0.5rem;"></i></button>

        </div>
      </div>

      <div class="card border-0" style="margin-right: 0.3rem; height: 530px; margin-top: 0.3rem; margin-bottom: 0.3;">
        <div class="card-body">
<pre>
 <b><u>Note</u><sup style="color: red;">*</sup> :</b> <i>For improving the <b>coding skills</b> please click on the below image.</i>
</pre>
            <a href="https://www.freecodecamp.org/news/how-to-improve-your-programming-skills/" target="_blank"><img src="assets\skills.jpg" alt="affs" class="skillsimg" ></a>
          
<h4>
<pre style="font-family:'Courier New', Courier, monospace; color:black; line-height: 0.75cm;margin-left: 0.5rem; margin-top: 1rem;">
          Start with the basic web developer   
skills to call yourself a Web developer.   
Let's get you on theway to become an  
excellent Web Programmer.

       If you’re looking to change careers or
learn newskills to upgrade and enhance your  
current career, tech skills are as close as 
it gets to a “no brainer.”
</pre>
</h4>


      

        </div>
      </div>

    </div>
  </div>
</div>