.skillsbg
{
    height: auto;
    width: 100%;
    background-color:#A9A9A9 ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 2rem;
    padding-bottom: 3rem;
    
}
*label:hover{
  color: #1E90FF;
}

.p-2{
  font-weight: bold;
  color: whitesmoke;
}

.p-2:hover{
  color: #1E90FF;
}

.progress{
  width: 28pc; 
}

label{
  color: whitesmoke;
}

@media(min-width: 320px) and (max-width: 359px){
  .p-2{
    font-size: 13px;
  }
  *h4{
    font-size: 18px;
  }
}

@media(min-width: 360px) and (max-width: 400px){
  .progress{
    width: 18pc;
  }
  .container{
    font-size: 20px;
  }
  *pre{
    font-size: 14px;
  }
  *label{
    font-size: 14px;
  }
  *h4{
    font-size: 20px;
  }
  .skill{
    font-size: 14px;
  }
  .p-2{
    font-size: 14px;
  }
}

@media(min-width: 401px) and (max-width: 600px){
  .progress{
    width: 18pc;
  }
  .container{
    font-size: 20px;
  }
  *pre{
    font-size: 14px;
  }
  *label{
    font-size: 14px;
  }
  *h4{
    font-size: 22px;
  }
  .skill{
    font-size: 14px;
  }
  .p-2{
    font-size: 14px;
  } 
  }

@media(min-width: 601px) and (max-width: 800px){
  .progress{
    width: 18pc;
  }
  .container{
    font-size: 20px;
  }
  *pre{
    font-size: 14px;
  }
  *label{
    font-size: 14px;
  }
  *h4{
    font-size: 20px;
  }
  .skill{
    font-size: 14px;
  }
  .p-2{
    font-size: 14px;
  } 
  }

  
@media(min-width: 801px) and (max-width: 1050px){
  .progress{
    width: 18pc;
  }
  .container{
    font-size: 20px;
  }
  *pre{
    font-size: 14px;
  }
  *label{
    font-size: 14px;
  }
  *h4{
    font-size: 20px;
  }
  .skill{
    font-size: 14px;
  }
  .p-2{
    font-size: 14px;
  } 
  }

@media(min-width: 320px) and (max-width: 359px){
  .progress{
    width: 15pc;
  } 
}