<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="viewresumebg"><br>

    <div class="card border-dark">

        <div class="card-group">

            <div class="card border-light" style="height: 580px; margin-top: 0.3rem; margin-left: 0.3rem; margin-bottom: 0.3;border-width: thick;">
                <div class="card-body">
                    
                    <img src="\assets\home.jpeg" alt="affs" class="viewimg" title="profile" style="width: 280px; height: 230px; margin-left: 9rem;">

                    
                <h4 style="margin-top: 2rem;">
 <pre>
              Name : Ajit Prajapati
                        
              Date of birth : 3rd Feb 1996
                        
              Nationality : Indian
</pre>
</h4>
                    
<h6 style="margin-top: 3rem; margin-left: 28rem;">
<pre>
<i class="fa fa-phone fa-lg" style="color: blueviolet; " title="Contact"></i> : +91 7738199752

<i class="fa fa-envelope" style="color: blueviolet;" title="Email Id"></i> : ajit@gmail.com

<i class="fa fa-map-marker" style="color: blueviolet; margin-right: 0.2rem; margin-left: 0.2rem;" title="Contact" title="Location"></i> : Mumbai | Thane

</pre>
</h6>
                </div>
            </div>
            

            <div class="card border-0" style="margin-right: 0.3rem; height: 580px; margin-top: 0.3rem; margin-bottom: 0.3;">
                <div class="card-body">

                    <ul style="list-style-type: circle;">
                        <u><h3 style="margin-right: 17rem;"><li>A Little Bit About Me :</li></h3></u>
                    </ul>

                    
                               
<pre style=" margin-left: 3rem; line-height: 0.7cm;">  
        I am <b>Ajit Prajapati</b>. I completed my graduation in 2017. 
    After that, Because of some financial conditons I skip my 
    studies for 2 years.
         
        To become a professional <b>web developer</b> now I has been 
    continuing my studies. In <b>HERE Technologies</b>, I have a one 
    year work experience.

        I am self-motivated, responsible and hard-working
    person. I able to work as team worker.
            
        I am able to work well. I know how to team environment as 
    well as, I know how can we using own initiative is important.

        Here, I requesting to you understand all the signs 
    (i.e. features). From all possible angles (i.e. sightings)  
    in single frame categorize it respectively.
</pre>
<hr style="background-color:lightskyblue;">
                        
                   
                </div>
            </div>

        </div>

        <div class="btton" style=" height: 250px; width: 380px; margin-left:58rem;margin-bottom: 3rem;">
            <div class="card-group">

                <div class="card1 " style="height: 80px; width: 190px;">
                    <div class="card-body text-center">

                            <button type="submit" class="btn  btn-outline-info" title="Back"  role="button"  
                            routerLink="/aboutme" routerLinkActive="active" style="margin-left: 7rem;">Back <i class="fa fa-arrow-left" aria-hidden="true" style="margin-left: 0.3rem;"></i></button>


                    </div>
                </div>
                <div class="card2" style="height: 80px; width: 190px;">
                    <div class="card-body text-center">


                        <button type="submit" class="btn btn-outline-info" role="button" routerLink="/project" routerLinkActive="active"  title=" Project" style=" color: black;background-color: white;"> Project
                            <i class="fa fa-file-o" aria-hidden="true" style="margin-left: 0.3rem; color:black;" ></i></button>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>