.viewresumebg
{
    
    height: auto;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#A9A9A9;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.rounded-circle
{
    height: 220px; 
    width: 240px; 
     margin-bottom: 1rem;
     margin-top: 1rem;
    //  margin-left: 9rem; 
     opacity: 0.8;
}
.rounded-circle:hover{
    opacity: 1.0;
}

@media(min-width: 360px) and (max-width: 400px){
    *h4{
        font-size: 20px;
    }
    *h3{
        font-size: 20px;
    }
}

@media(min-width: 401px) and (max-width: 600px){
    *h4{
        font-size: 20px;
    }
    *h3{
        font-size: 20px;
    }
}

@media(min-width: 601px) and (max-width: 800px){
    *h4{
        font-size: 20px;
    }
    *h3{
        font-size: 20px;
    }
}

@media(min-width: 801px) and (max-width: 1050px){
    *h4{
        font-size: 21px;
    }
    *h3{
        font-size: 21px;
    }
}