<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="viewresumebg"><br>

    <div class="container">

        <div class="row" style="padding-bottom: 3rem;">
            <div class="col-sm-6">
                <div class="card border-0"
                    style="border-width: thin; margin-top: 2.3rem; background: transparent; height: 500px; margin-left: 2rem;">


                    <img src="assets\home.png" alt="affs" class="rounded-circle" title="profile">


                    <h4 style="margin-top: 2rem; line-height: 0.8cm;">
                        <p style="color: whitesmoke;">
           Name : Ajit Prajapati <br>
           Date of birth : 3rd Feb 1996 <br>
           Nationality : Indian <br>
</p>
                    </h4>

                    <h6>
                        <pre style="font-family: verdana; color: whitesmoke; padding-left: 6rem; padding-top: 20px;">
<i class="fa fa-phone fa-lg" style="color:whitesmoke; " title="Contact"></i> : +91 7738199752
        
<i class="fa fa-envelope" style="color:whitesmoke;" title="Email Id"></i> : ajitp9815@gmail.com
        
<i class="fa fa-map-marker" style="color:whitesmoke; margin-right: 0.2rem; margin-left: 0.2rem;" title="Contact" title="Location"></i> : Mumbai | Thane
        
</pre>
                    </h6>
                </div>



            </div>
            <div class="col-sm-6">
                <div class="card border-0" style="box-shadow:0 4px 18px 0 	steelblue, 0 12px 20px 0 whitesmoke; margin-top: 2.9rem; background: transparent; font-family: verdana;">


                    <b>
                        <ul style="list-style-type: circle;">
                            <h3 style=" margin-top: 1rem; color: whitesmoke;">
                                <li>A Little Bit About Me :</li>
                            </h3>
                        </ul>
                    </b>
                    <p
                        style=" margin-left: 2rem; line-height: 0.45cm;  font-size: 17px; color: whitesmoke; font-family: verdana; padding: 1rem;">
                        I am <b>Ajit Prajapati</b>. I completed my graduation in 2017.
                        After that, Because of some financial conditons, I skip my
                        studies for 2 years. <br><br>

                        To become a professional <b>web developer,</b> now I have been
                        continuing my studies. In <b>HERE Technologies</b>, I have a one
                        year work experience.<br><br>

                        I am self-motivated, responsible and hard-working
                        person. I am able to work as team worker.<br><br>

                        I am able to work well. I know how to do team environment
                        as well as, I know using own initiative is important.<br><br>

                        Here, I am responsible for using source data to create,
                        update or modify HERE digital map database like roads names,
                        RDM,POI,polygon,etc. inside Europe & Worldwide.
                    </p>
                    <hr style="background-color:whitesmoke;">

                    <div class="text-right" style="margin-bottom: 20px;">

                        <button type="button" class="btn btn-sm btn-outline-light py-0" title="Download Resume"
                            style="border-width: 1px; margin-right: 0.5rem; ">
                            <a class="nav-link" routerLink='/assets/Ajit_Prajapati_Resume.pdf' routerLinkActive="active"
                                target="_blank" style="color: black;">Resume<i class="fa fa-download" aria-hidden="true"
                                    style="margin-left: 0.3rem;"></i></a></button>

                        <button type="button" class="btn btn-sm btn-outline-light py-2" role="button"
                            routerLink="/project" routerLinkActive="active" title=" Project"
                            style=" margin-right: 0.5rem; color: black;">Project
                            <i class="fa fa-file" aria-hidden="true" style="margin-left: 0.3rem; "></i></button>

                    </div>


                </div>

            </div>




        </div>

    </div>
</div>