<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />


<div class="projectbg">
    <div class="container" style="padding-top: 8rem; padding-bottom: 0.3rem;">
        <div class="row" style="padding-bottom: 4rem;">
            <div class="col-sm-12">
                <div class="card text-center  border-0" style="font-family: Verdana; font-size: 20px; color: whitesmoke; font-weight: bolder; background: transparent;">
                    ONLINE CAR SHOPPING
                </div>
            </div>
            <div class="col-sm-7">
                <div class="card border-0" style="height: 360px; margin-top: 70px; background: transparent;">
                    <p style="font-family: Verdana; font-size: 14px; color: whitesmoke;">
        <b style="color:black;">Title:</b> Online Car Shopping <br>
        <b style="color:black;">Team size:</b> 2 <br>
        <b style="color:black;">Front End:</b> Java <br>
        <b style="color:black;">Back End:</b> Xampp localhost <br>
        <b style="color:black;">College:</b> N.K.T.T. College <br>
        <b style="color:black;">Project description:</b> <br>
                           
                        The aim of this project is to reduce the manual work. For  
        staff members Online Car Shopping is a online web application.    
        Through this website customers can search for a car from showrooms.     
        Purchasable amount and others functional properties of the cars they     
        able to see with the help of this website. Customers are able to     
        deal with the dealer as well to purchase their desirable cars.
    </p>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="card border-0" id="car" style="height: 250px; width:57%; margin-top: 70px; background: transparent; margin-left: 4rem;  box-shadow: 0 4px 8px 0 	steelblue, 0 6px 20px 0 whitesmoke; ">
                    <a routerLink='/screenshots' routerLinkActive='active'><img src="assets/onlinecar.webp" class="card-img img-fluid" alt="Online car logo"
                        title="Click here to visit on screenshot page" style="height: 15rem; width: 15rem; padding-top: 0.6rem; padding-left: 0.6rem; ">
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>