.projectbg
{
    height: 1820px;
}
.card
{
    margin-top: 3rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    height: 1700px;
    width: 1300px;
    border-width: thin 2px;
    border-bottom: thin 2px;
    background: transparent;
    

}

.btn:hover
{
    transform: scale(1.1);
}
.card-footer
{ 
    background-color: black;
    color: white;
}
*h5
{
color: white;
}
.card3:hover
{
    transform: scale(1.1);
}
.card4:hover
{
    transform: scale(1.1);
}
.card5:hover
{
    transform: scale(1.1);
}
.card6:hover
{
    transform: scale(1.1);
}
.card7:hover
{
    transform: scale(1.1);
}
.card8:hover
{
    transform: scale(1.1);
}
.card9:hover
{
    transform: scale(1.1);
}
.card10:hover
{
    transform: scale(1.1);
}
.card11:hover
{
    transform: scale(1.1);
}
.card12:hover
{
    transform: scale(1.1);
}
.card13:hover
{
    transform: scale(1.1);
}
