<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="projectbg"  style="background-color:#DCDCDC;"><br>

    <div class="card border-dark" style="border-width: thin;">

        <div class="card-group">

            <div class="card border-light" style="height: 540px; margin-top: 0.3rem; margin-left: 0.3rem; margin-bottom: 0.3; border-width: medium;">
                <div class="card-body">

<h2><u>
<pre style="margin-left: 14rem;">
--Project--
</pre>
</u></h2><br>

<pre style="color: black; line-height: 0.85cm;">
    <b>- Title:</b> Online Car Shopping
    <b>- Team size:</b> 2
    <b>- Front End:</b> Java
    <b>- Back End:</b> Xampp localhost
    <b>- College:</b> N.K.T.T. College
    <b>- Project description:</b>
    
            The aim of this project is to reduce the manual work. For  
    staff members Online Car Shopping is a online web application.    
    Through this website customers can search for a car from showrooms.     
    Purchasable amount and others functional properties of the cars they     
    able to see with the help of this website. Customers are able to     
    deal with the dealer as well to purchase their desirable cars.
</pre>
<hr>


                </div>
            </div>

            <div class="card border-0" style="margin-right: 0.3rem; height: 540px; margin-top: 0.3rem; margin-bottom: 0.3;">
                <div class="card-body ">

    <div class="data" style="width: 620px; height: 30px; background-color: white;">
<img src="assets\projecttriangle2.png" alt="" style="width: 40px; height: 20px; display: flex;">
    </div>


                    <h3>
<pre style="margin-top: 1rem; margin-bottom: 1rem; line-height: 1cm;">
     <i><b>"</b>Award can give you a tremendous 
  amount of encouragment to keep getting  
better, no metter how young or old you are.<b>"</b></i>
</pre>
                    </h3>

    <div class="data" style="width: 620px; height: 30px; background-color: white;">
<img src="assets\projecttriangle1.png" alt="" style="width: 40px; height: 20px;margin-left: 36.3rem; margin-top: 0.65rem;">
    </div>
    <hr>

    <img src="assets\projecttropy.jpg" alt="hbhb"  style="width: 600px; height: 230px; margin-top: 1rem;">

<hr style="background-color: black;">

                </div>
            </div>

        </div>
        
        <h4 style="font-family: 'Courier New', Courier, monospace; margin-left: 2rem;"><b style="margin-right: 0.8rem;">>></b> <u>Project's Screenshots :</u> </h4>
        
        <div class="card-columns">
            <div class="card " style="width: 1250px; height: 925px; margin-right: 4rem;background-color:#C0C0C0; border-width: thick;" >
                <div class="card-body">
                   

                    <div class="row row-cols-4 row-cols-3" style="padding-top: 20px; display: flex;">


                        <div class="card3" title="Login" style="margin-left: 1.4rem;height: 250px; width: 280px; border-width: medium; ">
                            <img src="assets\login.jpeg" class="card-img-top" alt="Home Page" style="  height: 200px; width: 280px;">
                            <div class="card-footer border-white">
                                <small class="text-muted">
                                    <h5 style="text-align: center;"> Login</h5>
                                </small>
                            </div>
                        </div>


                        <div class="card4" title="Products" style="margin-left: 1.5rem;height: 250px; width: 280px;">
                            <img src="assets\addproducts1.jpeg" class="card-img-top" alt="Home Page" style="  height: 200px; width: 280px;">
                            <div class="card-footer border-white">
                                <small class="text-muted">
                                    <h5 style="text-align: center;"> Products</h5>
                                </small>
                            </div>
                        </div>

                        <div class="card5" title="Add Products" style="margin-left: 1.5rem; height: 250px; width: 280px;">
                            <img src="assets\addproducts2.jpeg" class="card-img-top" alt="Home Page" style="  height: 200px; width: 280px;">
                            <div class="card-footer border-white">
                                <small class="text-muted">
                                    <h5 style="text-align: center;">Add Products</h5>
                                </small>
                            </div>
                        </div>

                        <div class="card6" title="Customers" style="margin-left: 1.5rem; height: 250px; width: 280px;">
                            <img src="assets\addcustomer1.jpeg" class="card-img-top" alt="Home Page" style="  height: 200px; width: 280px;">
                            <div class="card-footer border-white">
                                <small class="text-muted">
                                    <h5 style="text-align: center;">Customers</h5>
                                </small>
                            </div>
                        </div>
                        
                        <div class="card7" title="Add Customers" style=" margin-top: 2rem; margin-left: 1.4rem; margin-bottom:1rem; height: 250px; width: 280px;">
                            <img src="assets\addcustomer2.jpeg" class="card-img-top" alt="Home Page" style="  height: 200px; width: 280px;">
                            <div class="card-footer border-white">
                                <small class="text-muted">
                                    <h5 style="text-align: center;">Add Customers</h5>
                                </small>
                            </div>
                        </div>

                        <div class="card8" title="Dealers" style="margin-left: 1.5rem; margin-top: 2rem; margin-bottom: 1rem; height: 250px; width: 280px;">
                            <img src="assets\adddealer.jpeg" class="card-img-top" alt="Home Page" style="  height: 200px; width: 280px;">
                            <div class="card-footer border-white">
                                <small class="text-muted">
                                    <h5 style="text-align: center;">Dealers</h5>
                                </small>
                            </div>
                        </div>

                        <div class="card9" title="Dealers portal" style="margin-left: 1.5rem; margin-top: 2rem; margin-bottom: 1rem; height: 250px; width: 280px;">
                            <img src="assets\afterdealerlogin1.jpeg" class="card-img-top" alt="Home Page" style=" height: 200px; width: 280px;">
                            <div class="card-footer border-white">
                                <small class="text-muted">
                                    <h5 style="text-align: center;">Dealers portal</h5>
                                </small>
                            </div>
                        </div>

                        <div class="card10" title="Money Assignment" style="margin-left: 1.5rem; margin-top: 2rem; margin-bottom: 1rem; height: 250px; width: 280px;">
                            <img src="assets\afterdealerlogin2.jpeg" class="card-img-top" alt="Home Page" style=" height: 200px; width: 280px;">
                            <div class="card-footer border-white">
                                <small class="text-muted">
                                    <h5 style="text-align: center;"> Money Assignment</h5>
                                </small>
                            </div>
                        </div>


                        <div class="card11" title="Customers's Products" style="margin-left: 1.4rem; margin-top: 2rem; margin-bottom: 1rem;height: 250px; width: 280px;">
                            <img src="assets\aftercustomerlogin1.jpeg" class="card-img-top" alt="Home Page" style="  height: 200px; width: 280px;">
                            <div class="card-footer border-white">
                                <small class="text-muted">
                                    <h5 style="text-align: center;">Customer's Products</h5>
                                </small>
                            </div>
                        </div>

                        
                        <div class="card12"  title="Purchase Menu" style="margin-left: 1.5rem; margin-top: 2rem; margin-bottom: 1rem;height: 250px; width: 280px;">
                            <img src="assets\aftercustomerlogin2.jpeg" class="card-img-top" alt="Home Page" style=" height: 200px; width: 280px;">
                            <div class="card-footer border-white">
                                <small class="text-muted">
                                    <h5 style="text-align: center;"> Purchase Menu</h5>
                                </small>
                            </div>
                        </div>

                        
                        <div class="card13"  title="Bookings" style="margin-left: 1.5rem; margin-top: 2rem; margin-bottom: 1rem;height: 250px; width: 280px;">
                            <img src="assets\bookings.jpeg" class="card-img-top" alt="Home Page" style=" height: 200px; width: 280px;">
                            <div class="card-footer border-white" >
                                <small class="text-muted">
                                    <h5 style="text-align: center;">Bookings</h5>
                                </small>
                            </div>
                        </div>

                        
                        
                    </div>
<hr>
                </div>



            </div>
        </div>
        <div class="btton" style=" height: 250px; width: 400px; margin-left:55rem;margin-bottom: 3rem;">
            <div class="card-group">

                <div class="card1 " style="height: 80px; width: 190px;">
                    <div class="card-body text-center">

                        <button type="submit" class="btn  btn-outline-success" title="Back" role="button" routerLink="/viewresume" routerLinkActive="active"
                            style="margin-left: 6.5rem; color: black;">Back<i class="fa fa-arrow-left" aria-hidden="true"></i></button>


                    </div>
                </div>
                <div class="card2" style="height: 80px; width: 190px;">
                    <div class="card-body text-center">

                        <button style="height:40px;"><a href="/project" class="o-scroll-up" title="Back to top">
                                <span class="o-scroll-up-text hidden-sm-down"> Back To Up</span>
                                <span class="o-scroll-up-icon" aria-hidden="true"> <i class="fa fa-arrow-circle-up fa-lg" aria-hidden="true"style="margin-left: 0.2rem;"></i></span>
                            </a></button>

                    </div>
                </div>

            </div>
        </div>

    </div>


</div>