<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="emloymentbg"><br>

  <div class="card border-light" style="border-width: thick;">

    <div class="card-group">

      <div class="card border-0" style="height: 530px; margin-top: 0.3rem; margin-left: 0.3rem; margin-bottom: 0.3;">
        <div class="card-body text-center">

          <h3 style="margin-top:0.6rem;"><u>Work Experience:</u></h3><br>

          <img src="assets\skills_qoutes1.jpg" alt="affs" style="width: 60px; height: 60px; margin-right: 34rem;"
            class="qoutes1">

          <pre style="line-height: 0.8cm; font-family: 'Courier New', Courier, monospace;">
          I have one year work experience in <b>HERE Technologies</b>  
       as <b>Spatial Data Specialist</b>. In the first Quater I was there 
  in the WEU Team. WEU stands for Western Europe. which 
        refers to the information that is collected "on location".   
  
  
        Here, I have to capture all  the signs (i.e. features)  
      from all possible angles (i.e. sightings) present in one  
  single frame and categorize it respectively.          
</pre>

          <img src="assets\skills_qoutes2.jpg" alt="affs" style="width: 60px; height: 60px; margin-left: 34rem;"
            class="qoutes2">



        </div>
      </div>

      <div class="card border-0" style="margin-right: 0.3rem; height: 530px; margin-top: 0.3rem; margin-bottom: 0.3;">
        <div class="card-body text-center">
         
          <div class="employment1">
            <h3>
<pre style="margin-top: 1rem; background-color: burlywood; width: 610px; height: 200px; line-height:1cm;">

  "Award can give you a tremendous 
amount of  encouragment to keep getting  
better, no metter how young or old you are."

</pre>
            </h3>
          </div>

          <div class="card border-dark" style="width: 540px; height: 220px;">
            
            <div class="card-header border-0" style=" background: transparent;">
          <button  class="btn border-dark" disabled >2019 - 2020</button>
        </div>
        <div class="card-body">

<h5 >Here Technologies - Spatial Data Specialist</h5>

<pre style="margin-top: 2rem; line-height: 0.8cm; font-family: 'Courier New', Courier, monospace;">
        <b>>></b> Locate the geomertires by the verfying from 
        other soucres provided by company.
</pre>



        </div>
        </div>



        </div>
      </div>

    </div>
  </div>
</div>