<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="emloymentbg"><br>


  <div class="container-fluid" style="padding-top: 1rem; padding-bottom: 1rem;">
    <div class="row" style="padding-bottom: 4rem;">
      <div class="col-sm-7">
        <div class="card border-0" style="margin-top: 2rem; height: 450px; background: transparent;">
          <div class="card-body ">

            <h1 style="margin-top:0.6rem; text-align:center; color: whitesmoke; font-family: 'Verdana';"><u>Work Experience :</u></h1><br>

            <p
              style="line-height: 0.8cm; font-family: 'Verdana', Courier, monospace; font-size: 20px; color: whitesmoke;">
          I have one year work experience in <b>HERE Technologies</b>  
      as <b>Spatial Data Specialist</b>. In the first Quater I was there 
      in the WEU Team which is WEU stands for Western Europe.  
      which refers to update the information that is collected "on 
      location". After that I moved to APAC team. <br><br>
        
        
          Here, I am responsible for using source data to create,
      update or modify HERE digital map database like roads names,RDM,POI,
      polygon,etc. inside Europe & Worldwide.
</p>

          </div>
        </div>

      </div>
      <div class="col-sm-5" id="col5">
        


        <div class="card border-light text-center" id="here"
          style=" box-shadow: 0 4px 8px 0 	steelblue, 0 6px 20px 0 whitesmoke; background: transparent; margin-top: 10rem; margin-right: 5rem;">

         

          <div class="card-body">
            <button class="btn border-0" disabled>2019 - 2020</button> <br><br>

            <div class="row">
            <img class="image" src="assets\here.jpg" alt="here" style="width:30px; height:30px; float: left; margin-top: 30px; margin-left: 3rem;">
            <h5 style=" margin-right: 3rem; margin-top: 30px; margin-left: 15px; font-family: 'Verdana';">Here Technologies </h5>
          </div>
            <p style="margin-top: 2rem; line-height: 0.8cm; font-family: verdana; font-size: 17px;">
      <b>-</b>  Spatial Data Specialist</p>
          </div>
        </div>


       



      </div>
    </div>

  </div>
</div>