<div class="homebg"><br>
    <div class="card border-0">

        <div class="card-group">


            <div class="card border-light" style="height: 530px; margin-top: 0.3rem; margin-left: 0.3rem; margin-bottom: 0.3; border-width: thick;">

            <a href="https://www.w3schools.com/html/html_intro.asp" target="_blank" class="html"><img src="\assets\htmlhome.png" class="html" title="HTML" alt="" style="width: 316px; height: 200px;"></a>
<pre style="margin-top: 3rem; font-family: 'Courier New', Courier, monospace; line-height: 0.75cm; margin-left: 0.3rem;">
    <b>Hypertext Markup Language (HTML) 
is the standard markup language for 
documents designed to be displayed 
in a web browser.

    It can be assisted by 
technologies such as Cascading 
Style Sheets (CSS) and scripting 
languages such as JavaScript.</b>
</pre>    
        </div>
 
            
            <div class="card border-light" style="height: 530px; margin-top: 0.3rem; margin-bottom: 0.3; border-width: thick;">
<pre style=" font-family: 'Courier New', Courier, monospace;line-height: 0.80cm; margin-left: 1rem; margin-top: 0.5rem;">
       <b>CSS is the language for 
describing the presentation of Web
pages, including colors, layout, 
and fonts. 

       It allows one to adapt the 
presentation to different types of 
devices, such as large screens,  
small screens, or printers.</b>
</pre>              

                <a href="https://www.w3schools.com/css/css_intro.asp" target="_blank" class="css"><img src="\assets\csshome.png" class="css" title="CSS" alt="" style="width: 316px; height: 200px; margin-top: 1.5rem;"></a>

            </div>

            
            <div class="card border-light" style="height: 530px; margin-top: 0.3rem; margin-bottom: 0.3; border-width: thick;">

                <a href="https://www.w3schools.com/js/js_intro.asp" target="_blank" class="javascript"><img src="\assets\javascripthome.jpg" class="javascript" title="Javascript" alt="" style="width: 316px; height: 200px;"></a>
<pre style=" font-family: 'Courier New', Courier, monospace;line-height: 0.7cm; margin-left: 1.5rem; margin-top: 1rem;">
    <b>To put things simply,  
JavaScript is an object orient  
programming language designed to  
make web development easier and  
more attractive. 

    In most cases, JavaScript is  
used to create responsive,  
interactive elements for web  
pages, enhancing the user 
experience.</b>
</pre>
            </div>

            
            <div class="card border-light" style="height: 530px; margin-top: 0.3rem; margin-right: 0.3rem; margin-bottom: 0.3; border-width: thick;">
<pre style=" font-family: 'Courier New', Courier, monospace;line-height: 0.65cm; margin-top: 0.5rem; margin-left: 1rem;">
    <b>AngularJS is a structural 
framework for dynamic web apps.It 
lets you use HTML as your template 
language and lets you extend  
HTML's syntax to express your  
application's components clearly
and succinctly. 

    AngularJS's data binding and 
dependency injection eliminate  
much of the code you would  
otherwise have to write.</b>
</pre>
               
                <a href="https://www.javatpoint.com/angular-7-introduction" target="_blank" class="angular"><img src="\assets\angularhome.jpg"  class="angular"  title="Angular"alt="" style="width: 316px; height: 200px; margin-top: 0.5rem;"></a>

            </div>
        </div>




    </div>
</div>