<div class="image">
    <div class="container" style="padding-bottom: 50px;">
        <div class="row" style="padding-top: 70px;">
            <div class="col-sm">
                <div class="card">
                    <img src="assets\login.jpeg" class="card-img img-fluid" alt="Login" title="Login">
                    <div class="card-footer" >
                        <small class="text-muted" >Login</small>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <img src="assets\addproducts1.jpeg" class="card-img img-fluid" alt="Products"
                        title="Products">
                    <div class="card-footer">
                        <small class="text-muted">Products</small>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <img src="assets\addproducts2.jpeg" class="card-img img-fluid" alt="Add Products"
                        title="Add Products">
                    <div class="card-footer">
                        <small class="text-muted">Add Products</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <img src="assets\addcustomer1.jpeg" class="card-img img-fluid" alt="Customers" title="Customers">
                    <div class="card-footer">
                        <small class="text-muted">Customers</small>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <img src="assets\addcustomer2.jpeg" class="card-img img-fluid" alt="Add Customers"
                        title="Add Customers">
                    <div class="card-footer">
                        <small class="text-muted">Add Customers</small>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <img src="assets\adddealer.jpeg" class="card-img img-fluid" alt="Dealers"
                        title="Dealers">
                    <div class="card-footer">
                        <small class="text-muted">Dealers</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <img src="assets\afterdealerlogin1.jpeg" class="card-img img-fluid" alt="Dealers portal"
                        title="Dealers portal">
                    <div class="card-footer">
                        <small class="text-muted">Dealers portal</small>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <img src="assets\afterdealerlogin2.jpeg" class="card-img img-fluid" alt="Money Assignment"
                        title="Money Assignment">
                    <div class="card-footer">
                        <small class="text-muted">Money Assignment</small>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <img src="assets\aftercustomerlogin1.jpeg" class="card-img img-fluid" alt="Customer's Products"
                        title="Customer's Products">
                    <div class="card-footer">
                        <small class="text-muted">Customer's Products</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-start">
            <div class="col-sm-4">
                <div class="card">
                    <img src="assets/aftercustomerlogin2.jpeg" class="card-img-top" alt="Purchase Menu"
                        title="Purchase Menu">
                    <div class="card-footer">
                        <small class="text-muted">Purchase Menu</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img src="assets/bookings.jpeg" class="card-img-top" alt="Bookings"
                        title="Bookings">
                    <div class="card-footer">
                        <small class="text-muted">Bookings</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>